EZakaz.RichClient/Web References/localhost/EZakazWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetPrice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPriceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPriceResult" type="tns:PriceDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PriceDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Items" type="tns:ArrayOfItemDto" />
          <s:element minOccurs="0" maxOccurs="1" name="Categories" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfItemDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ItemDto" nillable="true" type="tns:ItemDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ItemDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Rest" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Manufacter" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pack" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Category" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Date" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ReceiptId" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProductId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetOrdersList">
        <s:complexType />
      </s:element>
      <s:element name="GetOrdersListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOrdersListResult" type="tns:ArrayOfOrderDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOrderDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderDto" nillable="true" type="tns:OrderDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DateSent" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ClientName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ClientId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetOrderItems">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="orderId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrderItemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOrderItemsResult" type="tns:ArrayOfOrderItemDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOrderItemDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderItemDto" nillable="true" type="tns:OrderItemDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderItemDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ReceiptId" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProductId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Count" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddNewOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="items" type="tns:ArrayOfOrderItemDto" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNewOrderResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPriceSoapIn">
    <wsdl:part name="parameters" element="tns:GetPrice" />
  </wsdl:message>
  <wsdl:message name="GetPriceSoapOut">
    <wsdl:part name="parameters" element="tns:GetPriceResponse" />
  </wsdl:message>
  <wsdl:message name="GetOrdersListSoapIn">
    <wsdl:part name="parameters" element="tns:GetOrdersList" />
  </wsdl:message>
  <wsdl:message name="GetOrdersListSoapOut">
    <wsdl:part name="parameters" element="tns:GetOrdersListResponse" />
  </wsdl:message>
  <wsdl:message name="GetOrderItemsSoapIn">
    <wsdl:part name="parameters" element="tns:GetOrderItems" />
  </wsdl:message>
  <wsdl:message name="GetOrderItemsSoapOut">
    <wsdl:part name="parameters" element="tns:GetOrderItemsResponse" />
  </wsdl:message>
  <wsdl:message name="AddNewOrderSoapIn">
    <wsdl:part name="parameters" element="tns:AddNewOrder" />
  </wsdl:message>
  <wsdl:message name="AddNewOrderSoapOut">
    <wsdl:part name="parameters" element="tns:AddNewOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="BaseWebServiceSoap">
    <wsdl:operation name="GetPrice">
      <wsdl:input message="tns:GetPriceSoapIn" />
      <wsdl:output message="tns:GetPriceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOrdersList">
      <wsdl:input message="tns:GetOrdersListSoapIn" />
      <wsdl:output message="tns:GetOrdersListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderItems">
      <wsdl:input message="tns:GetOrderItemsSoapIn" />
      <wsdl:output message="tns:GetOrderItemsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddNewOrder">
      <wsdl:input message="tns:AddNewOrderSoapIn" />
      <wsdl:output message="tns:AddNewOrderSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BaseWebServiceSoap" type="tns:BaseWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPrice">
      <soap:operation soapAction="http://tempuri.org/GetPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrdersList">
      <soap:operation soapAction="http://tempuri.org/GetOrdersList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderItems">
      <soap:operation soapAction="http://tempuri.org/GetOrderItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewOrder">
      <soap:operation soapAction="http://tempuri.org/AddNewOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BaseWebServiceSoap12" type="tns:BaseWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPrice">
      <soap12:operation soapAction="http://tempuri.org/GetPrice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrdersList">
      <soap12:operation soapAction="http://tempuri.org/GetOrdersList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderItems">
      <soap12:operation soapAction="http://tempuri.org/GetOrderItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewOrder">
      <soap12:operation soapAction="http://tempuri.org/AddNewOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BaseWebService">
    <wsdl:port name="BaseWebServiceSoap" binding="tns:BaseWebServiceSoap">
      <soap:address location="http://localhost:7777/EZakazWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="BaseWebServiceSoap12" binding="tns:BaseWebServiceSoap12">
      <soap12:address location="http://localhost:7777/EZakazWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>